Source: helmfile
Section: devel
Priority: optional
Maintainer: Wikimedia Service Operations Go Team <sre-service-ops@wikimedia.org>
Uploaders: Fabián Sellés <fsero@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               git,
               ca-certificates,
               golang-go,
Standards-Version: 4.1.1
Homepage: https://github.com/roboll/helmfile
Vcs-Browser: https://gerrit.wikimedia.org/r/operations/debs/helmfile
Vcs-Git: https://gerrit.wikimedia.org/r/operations/debs/helmfile.git
XS-Go-Import-Path: github.com/roboll/helmfile
Testsuite: autopkgtest-pkg-go

Package: helmfile
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Deploy Kubernetes Helm Charts
 Helmfile is a declarative spec for deploying helm charts. It lets you...
 .
 Keep a directory of chart value files and maintain changes in version control.
 Apply CI/CD to configuration changes.
 Periodically sync to avoid skew in environments.
