#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = noddebs
export DH_GOLANG_EXCLUDES := vendor
export DH_GOLANG_BUILDPKG := github.com/roboll/helmfile

BUILDFLAGS := -ldflags \
	" -X github.com/roboll/helmfile/pkg/app/version.Version=$(DEB_VERSION_UPSTREAM)"

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_configure:
	dh_auto_configure -- $(BUILDFLAGS)

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

override_dh_auto_install:
	dh_auto_install -- --no-source

# No dwz symbols in go, disable
override_dh_dwz:

